.container {
  min-width: 320px;
  .header {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    border-bottom: 1px solid #ddd;
    height: 44px;

    .title {
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;

      a {
        color: #000000;
        text-decoration: none;
      }
    }

    .spacer {
      flex: 1 0 auto;
    }
  }
}
